@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  display: flex;
  gap: 0.5rem;
}

.slick-dots {
  bottom: -50px;
}
li.slick-active > div {
  background-color: #f97316;
}

.underline-on-hover:after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f97316;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline-on-hover:hover:after {
  width: 100%;
  left: 0;
}
